@model List<PurchaseAuditLog>

@{
    ViewData["Title"] = "TodaySales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-dark text-center">Today's Sales</h2>

<div class="mb-3">
    <table class="table">
        <tr class="table-secondary">
            <th>Order Number</th>
            <th>Order Id</th>
            <th>Product Id</th>
            <th>User Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Order Date and Time</th>
            <th>Photo</th>
            <th>Total Price</th>
        </tr>
        @foreach (var product in Model)
        {

            <tr>
                <td>@product.OrderNumber</td>
                <td>@product.OrderId</td>
                <td>@product.ProductId</td>
                <td>@product.UserId</td>
                <td>@product.ProductName</td>
                <td>@product.Quantity</td>

                <td>@product.OrderDateAndTime</td>
                <td>
                    <img src="@Url.Content("~/" + product.Photo)" height="40" width="80" alt='@product.ProductName' />
                </td>
                <td>&#8377;@product.TotalPrice</td>
            </tr>

        }
        <tr>
        <tr>
            <td colspan="8" align="right">
                <h3 class="text-success">
                    Total Sales Today : &#8377;@ViewBag.TotalSales
                </h3>
            </td>
        </tr>
    </table>

</div>